.photo-template.narwhal {
    margin: 10px 10px;
    border: dotted;

}

.photo-template.chameleon{
    margin: 10px 10px;
    border: dotted;

}

.photo-template.Rhino {
    margin: 10px 10px;
    border: dotted;

}

.photo-template.Music {
    margin: 10px 10px;
    border: dotted;
}

.photo-template.unicorn {
    margin: 10px 10px;
    border: dotted;
}

.photo-template.rhino {
    margin: 10px 10px;
    border: dotted;
}

.photo-template.mouflon {
    margin: 10px 10px;
    border: dotted;
}

.photo-template.triceratops {
    margin: 10px 10px;
    border: dotted;
}

.photo-template.dragon {
    margin: 10px 10px;
    border: dotted;
}


.photo-template.markhor {
    margin: 10px 10px;
    border: dotted;
}

.photo-template.horn {
    margin: 10px 10px;
    border: dotted;
}

.photo-template.saiga {
    margin: 10px 10px;
    border: dotted;
}

.photo-template.lizard {
    margin: 10px 10px;
    border: dotted;
}

.photo-template.giraffe {
    margin: 10px 10px;
    border: dotted;
}

.photo-template.jackalope {
    margin: 10px 10px;
    border: dotted;
}

.photo-template.unilego {
    margin: 10px 10px;
    border: dotted;
}